.homeHeader {
    font-size: 34px;
    display: flex;
    align-items: center;
    height: 100%;

    .homeHeaderLogo {

        .icon-react,
        .icon-icon-test,
        .icon-typescript {
            margin-right: 5px;
            font-size: inherit;
        }

        .icon-react {
            color: #61dafb;
        }

        .icon-icon-test {
            color: #deb887;
        }

        .icon-typescript {
            color: blue;
        }
    }

    .homeHeaderTitle {
        margin-left: 30px;
        font-weight: 700;
        font-size: 18px;
        margin-right: auto;
    }

    .homeHeaderSpace {
        margin-left: 20px;
    }
}

.homeMain {
    margin-top: 20px;
    background: #fff;
    flex-grow: 1;
    position: relative;
}

.homeAside {
    height: calc(100vh - 60px);
    border: none;
    padding-top: 30px;
}

.homeBreadcrumb {
    background: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}